<html>
<head>
<title>검색</title>

</head>

<body>
<div class="search">
        <!-- post form -->
        <form method="post" action="">
          <div class="input-group">
            <input class="form-control" type="text" name="content" placeholder="검색어를 입력하세요" style="width: 600px; height: 40px;">
            <span class="input-group-btn">
              <button class="btn btn-success" type="submit" name="post">검색</button>
            </span>
          </div>
        </form>
        <!-- ./post form -->
</div>

</body>
</html>
