<html>
  <head>
    <title>게시글</title>
    <style>

      caption{
        font-size: xx-large;
        font-weight: bolder;
        
      }
    </style>
  </head>

  <body>
   <table align="center">
     <caption>
       <게시글>
     </caption>

     <tr>
       <td colspan="5" class="my_post">
        <textarea name="my_intro" cols="20" rows="5" style="width:600px; height: 450px;"></textarea>
       </td>
     </tr>

     <tr>
       <td>
         <img src="/static/img/gaon.png">
       </td>

       <td colspan="3">
       <input type="text" name="comment" style="width: 400px; height: 60px;" placeholder="댓글을 입력하세요.">
         <button type="submit" name="send_com" style="width: 60px; height: 50px;">입력</button>
       </td>

       <td>
        <button type="submit" name="share" style="width: 40px; height: 40px; font-weight: bolder; font-size: xx-large;">+</button>
       </td>
     </tr>

   </table>
  </body>
  </html>