<html>
  <head>
    <title>로그인화면</title>
      <style type = "text/css">
       .top{
          height: 50px;
          background-color: pink;
          font-size: x-large;
          font-weight: bold;
      }
      </style>
   </head>
   <body>
    <nav class="image">
        <div class="top">
        <img
                src="/static/img/이미지로고.png"
                width="40"
                ,
                height="40"
                style="float: left;"
              />
          </a>
          Ga+On
          </div>
      </nav>
    </body>
    </html>