<html>
  <head>
    <title>내 관심분야</title>
    <style>
      .title{
        font-size: xx-large;
        font-weight: bolder;
        margin-bottom: 20px;
      }

 .interest {
  width: 100px;
  height: 60px;
  font-size:30px;
  font-family: 'Nanum Gothic';
  color: white;
  line-height: 50px;
  text-align: center;
  border: solid 2px grey;
  border-radius: 12px;
  margin-right: 20px;
}

    </style>
  </head>

  <body>
    <div class="title">
      <내 관심분야>
    </div>
    <div class="int_1" >
    <button class="interest"><a href = "/static/template/기본 템플릿.html" target="_top">#운동</a></button>
 
    <button class="interest"><a href = "/static/template/기본 템플릿.html" target="_top">#건강</a></button>

    <button class="interest"><a href = "/static/template/기본 템플릿.html" target="_top">#맛집</a></button>
  </div>
  </body>
  </html>