<html>
  <head>
    <title>실시간 온도 순위</title>
    <style>
      table {
        height: 300px;
        color:#CC2EFA;
        font-size: x-large;
        font-weight: bolder;
      }
    </style>
  </head>

  <body>
   <table  align="center">
     <tr>
       <td>
        <실시간 온도 순위>
       </td>
     </tr>
     <tr>
       <td>
         1. 미스터트롯
       </td>
      </tr>
      <tr>
       <td>
         2. 등산
       </td>
      </tr>
      <tr>
       <td>
         3. 건강
       </td>
      </tr>
      <tr>
       <td>
         4. 운동
       </td>
      </tr>
      <tr>
       <td>
         5. 여행
       </td>
     </tr>
   </table>
  </body>
  </html>