<html>
  <head>
    <title>알림</title>
    <style>
      caption{
        font-size: xx-large;
        font-weight: bolder;
      }
      table{
       
        height: 200px;
        color: #FF0040;
      }
    </style>
  </head>

  <body>
    <table  align="center">
      
      <caption>
        새 알림
      </caption>
      <tr>
        <td>
        뽀로로 님이 온도를 올렸습니다.
      </td>
      </tr>
      
      <tr>
        <td>
        크롱 님이 새 게시물을 올렸습니다.
      </td>
      </tr>

      <tr>
        <td>
        포비 님이 친구 신청을 했습니다.
      </td>
      </tr>
    </table>
  </body>
  </html>